@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

#popup-body {
  padding: 0.5rem;
}
header {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

#onboarding {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #eee;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: thistle;
}

button:hover {
  background-color: plum;
}

h3 {
  margin-block: 0.25rem;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.error {
  color: red;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;
}

.password-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
  border-bottom: 1px solid #ccc;
  border-top: 0px;
}

.password-list-item:hover {
  background-color: #eee;
}

.password-list-item:nth-of-type(1) {
  margin-top: 0.5rem;
  border-top: 1px solid #ccc;
}
