@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

:root {
  --text-color: #000;
  --surface: #fff;
  --surface-hover: #eee;
  --accent-color: thistle;
  --accent-color-hover: plum;
  --font-size: 75%;
}

/* dark theme */

body.sakura-night {
  --text-color: #fff;
  --surface: #505477;
  --surface-hover: #616c99;
  --accent-color: plum;
  --accent-color-hover: thistle;
}

body {
  background-color: var(--surface);
  color: var(--text-color);
  font-size: var(--font-size);
}

#popup-body {
  padding: 0.5rem;
}
header {
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}

#onboarding {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.25rem;
  background-color: var(--surface-hover);
  color: var(--text-color);
}

input:focus {
  outline: none;
  border-color: var(--accent-color-hover);
}

input::placeholder {
  color: var(--text-color);
  opacity: 0.5;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--text-color);
}

button:hover {
  background-color: var(--accent-color-hover);
}

h3 {
  margin-block: 0.25rem;
}

dl {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-block: 0;
  margin-inline: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--accent-color);
  border-radius: 0.25rem;
  color: var(--text-color);
  background-color: var(--surface-hover);
}

.error {
  color: red;
}

.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.5rem;
}

.password-list-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.25rem;
}

.password-list-item:hover {
  background-color: var(--surface-hover);
}

#preferences-icon {
  cursor: pointer;
  aspect-ratio: 1 / 1;
  width: 1rem;
  color: var(--accent-color);
  stroke-width: 1px;
}

#preferences-icon:hover {
  color: var(--accent-color-hover);
}

#toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
